doctype html
html
    head
        title AI Virtual Assistent
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
        style.
            body {
                background-image: url('./img/ava.png');
                background-position: bottom right;
                background-repeat: no-repeat;
                background-size: contain;
            }
    body
        block content
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
